/*=========background===============*/
body{
  padding: 0;
  margin: 0;
}
p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  padding-top: 150px;
  font-size: 1.0em;
}
/* text折り返しblock */
p span {
  display: inline-block;
}
/*=========philosophy===============*/
.tree{
  justify-content: center;
  align-items:center;
  position: relative; 
  padding-top: 70px; 
}
.philo{
  justify-content: center;
  align-items:center;
  position: relative;
  text-align: center; 
  padding-top: 120px;  
}
.philosophy{
  opacity: 0.1;
  width: 100%;
}

/*=========infomation===============*/
.info{
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 250px;  
}

.infomation{
  opacity: 0.1;
  width: 100%;
}

.infomation_text{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  padding-top: 200px;
  font-size: 1.0em;
}